@font-face {
    font-family: 'goorm-sans-bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'goorm-sans-bold';
    color: #333;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}